<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" class="padding10px whiteBackground" fxFlex="200px" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="column wrap" class="mainRightContainer" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="mainContainer" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>