<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="headerContainer" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <mat-icon>chevron_left</mat-icon><label>
            Travel Requests</label>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="marginBottom1em" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-card>
        <mat-card-content>
          <h1 class="marginBottom0pt3em">
            <mat-icon>person</mat-icon>Personal Details
          </h1>
          <div fxLayout="row wrap" class="grayBorderBottom" fxLayoutAlign="start stretch" [fxShow]="true"></div>
          <form [formGroup]="page.personalDetailsForm">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" class="fullWidth" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    First Name</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="text" placeholder="First Name" [required]="false" formControlName="firstName">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.firstName?.errors?.required">First Name is required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    Last Name</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="text" placeholder="Last Name" [required]="false" formControlName="lastName">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.lastName?.errors?.required">Last Name is reqiured</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    Date Of Birth</label>
                  <mat-form-field [appearance]="&apos;outline&apos;">
                    <input matInput placeholder="DD/MM/YYYY" [matDatepicker]="picker" formControlName="dob" [max]="page.date" [required]="false" [disabled]="false">
                    <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                    <mat-datepicker #picker [disabled]="false"></mat-datepicker>
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.dob?.errors?.required">Date of Birth is Required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    Gender</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                    <mat-select formControlName="gender" placeholder="Gender" [required]="false">
                      <ng-template ngFor let-option [ngForOf]="page.gender" let-i="index">
                        <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                      </ng-template>
                    </mat-select>
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.gender?.errors?.required">Gender is required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    Email</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="email" placeholder="JohnDoe@gmail.com" [required]="false" formControlName="email">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.email?.errors?.required">Email is required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    ID Number</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="number" placeholder="ID Number" [required]="false" formControlName="idNumber">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.idNumber?.errors?.required">ID Number is Required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    PAN Number</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="text" placeholder="PAN" [required]="false" formControlName="panNumber">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.panNumber?.errors?.required">Pan Number is Required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49" *ngIf="viewvalue ==&apos;Passport Number&apos;"><label>
                    Passport Number</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                    <input matInput type="text" placeholder="Passport Number" [required]="false" formControlName="passportNumber">
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.passportNumber?.errors?.required">Passport Number is Required</mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" class="inputContainer" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                    Nationality</label>
                  <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                    <mat-select formControlName="nationality" placeholder="Nationality" [required]="false">
                      <ng-template ngFor let-option [ngForOf]="page.nationality" let-i="index">
                        <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                      </ng-template>
                    </mat-select>
                    <mat-error align="end" *ngIf="page.personalDetailsForm?.controls?.nationality?.errors?.required">Nationality is Required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="page.travelForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" formArrayName="requestDetails">
              <div fxLayout="column wrap" class="marinTop1em marginBottom1em" fxLayoutAlign="end end" [fxShow]="true" *ngFor="let reqDetails of page.travelForm.get(&apos;requestDetails&apos;).controls; let i = index">
                <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" [formGroupName]="i">
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" formGroupName="travelDetails">
                      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
                        <div fxLayout="row wrap" class="marginBottom1em fullWidth" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                            <div class="noMargin">
                              <h1 class="noMargin">
                                <mat-icon class="fontSize20px">flight_takeoff</mat-icon>
                                Travel Details
                              </h1>
                            </div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49">
                            <mat-radio-group class="fullWidth" formControlName="tripType" [required]="false">
                              <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
                                <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
                                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                    <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                      <mat-radio-button [value]="&apos;one-way&apos;" [required]="false" (change)="showButton()"></mat-radio-button><label>
                                        One-Way</label>
                                    </div>
                                  </div>
                                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                    <div fxLayout="row wrap" class="groupedInput" fxLayoutAlign="center center" [fxShow]="true">
                                      <mat-radio-button [value]="&apos;Return&apos;" [required]="false" (change)="hideButton()"></mat-radio-button><label>
                                        Return</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-radio-group>
                          </div>
                        </div>
                        <div fxLayout="row wrap" class="grayBorderBottom" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" [fxShow]="true">
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Airline</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="AirLine" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Price</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="Price" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Airline</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="AirLine" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Price</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="Price" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Airline</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="AirLine" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Price</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="Price" [required]="false" [disabled]="true">

                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Purpose Of Travel</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="travelPurpose" placeholder="Purpose Of Travel" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.purposeOfTravel" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.travelPurpose?.errors?.required">Purpose Of Travel is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Travel Mode</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="travelMode" placeholder="Travel Mode" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.travelMode" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.travelMode?.errors?.required">Travel Mode is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Project Name</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="projectID" placeholder="Project Name" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.project" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.projectID?.errors?.required">Project ID is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutGap=".3em" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Travel Type</label>
                            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                <mat-radio-group class="fullWidth" formControlName="travelType" [required]="false">
                                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;Domestic&apos;" [required]="false" (change)="hideVisa()"></mat-radio-button><img imgSrc="/Web/Image/domestic.png"><label>
                                            Domestic</label>
                                        </div>
                                      </div>
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;International&apos;" [required]="false" (change)="showVisa()"></mat-radio-button><img imgSrc="/Web/Image/international.png"><label>
                                            International</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-radio-group>
                              </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [ngClass.xs]="&apos;marginBottom1em&apos;"></div>
                              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                            </div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              From City</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="fromCity" placeholder="From City" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.city" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.fromCity?.errors?.required">From City is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              To City</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="toCity" placeholder="To City" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.city" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.toCity?.errors?.required">To City is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Preferred Departure Time</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput type="time" placeholder="Preferred Departure Time" [required]="false" formControlName="preferredTime">
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.preferredTime?.errors?.required">Preferred Time is Requuired</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutGap=".3em" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Request Type</label>
                            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                <mat-radio-group class="fullWidth" formControlName="requestType" [required]="true">
                                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;Self&apos;" [required]="false" (change)="hideRequstedfor()"></mat-radio-button><label>
                                            Self</label>
                                        </div>
                                      </div>
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;On Behalf&apos;" [required]="false" (change)="showRequstedfor()"></mat-radio-button><label>
                                            On Behalf</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-radio-group>
                              </div>
                            </div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49" *ngIf="page.showHideElement"><label>
                              Requested For</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                              <input matInput placeholder="Requested For" [required]="false" formControlName="requestedFor">
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.requestedFor?.errors?.required">Requested For is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              From Date</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" (click)="fromDate.open()">
                              <input matInput placeholder="From Date" [matDatepicker]="fromDate" formControlName="fromDate" (dateChange)="dateChange($event)" [min]="page.date" [required]="false" [disabled]="false" readonly="true">
                              <mat-datepicker-toggle matSuffix [for]="fromDate" disabled="false"></mat-datepicker-toggle>
                              <mat-datepicker #fromDate [disabled]="false"></mat-datepicker>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.fromDate?.errors?.required">From Date is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              To Date</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" (click)="toDate.open()">
                              <input matInput placeholder="To Date" [matDatepicker]="toDate" formControlName="toDate" [min]="page.futureDate" [required]="false" [disabled]="false" readonly="true">
                              <mat-datepicker-toggle matSuffix [for]="toDate" disabled="false"></mat-datepicker-toggle>
                              <mat-datepicker #toDate [disabled]="false"></mat-datepicker>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.toDate?.errors?.required">To Date is required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutGap=".3em" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49" *ngIf="page.showVisa"><label>
                              Do you have a VISA</label>
                            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
                              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                <mat-radio-group class="fullWidth" formControlName="visaRequired" [required]="true">
                                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="space-between center" [fxShow]="true">
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;Yes&apos;" [required]="false"></mat-radio-button><label>
                                            Yes</label>
                                        </div>
                                      </div>
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutGap=".25em" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;No&apos;" [required]="false"></mat-radio-button><label>
                                            No</label>
                                        </div>
                                      </div>
                                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                                        <div fxLayout="row wrap" class="groupedInput" fxLayoutAlign="space-between center" [fxShow]="true">
                                          <mat-radio-button [value]="&apos;Unsure&apos;" [required]="false"></mat-radio-button><label>
                                            Unsure</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </mat-radio-group>
                              </div>
                            </div>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49">
                            <div>
                              Need A Vehicle?</div>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                              <mat-select formControlName="needvehicle" placeholder="Need A Vehicle" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.options" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm.controls.requestDetails.controls[0].controls.travelDetails.controls.needAVehicle?.errors?.required">Need A vehicle field is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Traveler Comment</label>
                            <mat-form-field [appearance]="&apos;outline&apos;">
                              <textarea matInput formControlName="travelerComments" placeholder="Add comment..." [required]="false"></textarea>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true"><label class="marinTop1em">
                              <label class="marginBottom1em">Upload Covid Certificate</label>

                              <input formControlName="covidCertificate" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                              <!-- <input type="file" (change)="csvInputChange($event)" formControlName ="covidCertificate"/> -->
                              <!-- <div class ="marginBottom0pt3em">Upload Covid Certificate</div>
<button mat-button class="blackButton " (click)="csvInput.click()">Upload File</button> -->
                              <!-- <div class="form-group">
      <label for="file">Choose File</label><br /> <input type="file" id="file" (change)="uploadFiles($event.target.files)">
    </div>
 -->
                              <!-- <button type="button" (click)="RequestUpload()">Ok</button> -->
                            </label></div>
                          <div fxLayout="column wrap" class="marginBottom2em inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49" *ngIf="page.showVisa"><label class="marinTop1em">
                              <label class="marginBottom1em">Upload Passport</label>
                              <input formControlName="passport" id="file" type="file" class="form-control" (change)="onFileChange($event)">
                              <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors.required">File is required.</div>
        </div> -->

                              <!-- <input mat-button type="file" (change)="csvInputChange($event)" formControlName ="passport" /> -->
                              <!-- <div class ="marginBottom0pt3em" class="blackButton " >Upload Passport</div>
<button mat-button class="blackButton " (click)="csvInput.click()">Upload File</button> -->
                              <!-- <div class="form-group">
      <label for="file">Choose File</label><br /> <input type="file" id="file" (change)="uploadFiles($event.target.files)">
    </div>
 -->
                              <!-- <button type="button" (click)="RequestUpload()">Ok</button> -->
                            </label></div>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row wrap" class="fullWidth" fxLayoutGap=".7em" fxLayoutAlign="start center" [fxShow]="true" formGroupName="accommodationDetails">
                      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                        <h1 class="purpleColor">
                          <mat-icon>location_city</mat-icon>Accommodation Details
                        </h1>
                        <div fxLayout="row wrap" class="grayBorderBottom" fxLayoutAlign="start stretch" [fxShow]="true"></div>
                        <div fxLayout="row wrap" class="fullWidth" fxLayoutAlign="space-between start" [fxShow]="true">
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Accomodation Preference</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="accommodationPreference" placeholder="Accomodation Preference" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.accomodationPreferance" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.hotelPreference?.errors?.required">Accommodation Preferrence is Required</mat-error>
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.accommodationPreference">Accomodation is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              City</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;">
                              <mat-select formControlName="city" placeholder="City" [required]="false">
                                <ng-template ngFor let-option [ngForOf]="page.city" let-i="index">
                                  <mat-option [value]="option.viewvalue">{{option.viewvalue}}</mat-option>
                                </ng-template>
                              </mat-select>
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.city">City is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Check In Date</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" (click)="checkin.open()">
                              <input matInput placeholder="check In Date" [matDatepicker]="checkin" formControlName="checkInDate" (dateChange)="dateChange($event)" [min]="page.date" [required]="false" [disabled]="false" readonly="true">
                              <mat-datepicker-toggle matSuffix [for]="checkin" disabled="false"></mat-datepicker-toggle>
                              <mat-datepicker #checkin [disabled]="false"></mat-datepicker>
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkInDate">Check In Date is Rquired</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Check Out Date</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" (click)="checkout.open()">
                              <input matInput placeholder="check Out Date" [matDatepicker]="checkout" formControlName="checkOutDate" [min]="page.futureDate" [required]="false" [disabled]="false" readonly="true">
                              <mat-datepicker-toggle matSuffix [for]="checkout" disabled="false"></mat-datepicker-toggle>
                              <mat-datepicker #checkout [disabled]="false"></mat-datepicker>
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutDate">Check Out Date is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Check In Time</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                              <input matInput type="time" placeholder="Check In Time" [required]="false" formControlName="checkInTime">
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkInTime">Check In Time is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Check Out Time</label>
                            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;never&apos;" [hideRequiredMarker]="false">
                              <input matInput type="time" placeholder="Check Out Time" [required]="false" formControlName="checkOutTime">
                              <mat-error align="end" *ngIf="page.travelForm?.controls?.requestDetails?.controls[0]?.controls?.accommodationDetails?.controls?.checkOutTime">Check Out Time is Required</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxLayout="column wrap" class="inputContainer" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="100" fxFlex.sm="49"><label>
                              Employee Comment</label>
                            <mat-form-field [appearance]="&apos;outline&apos;">
                              <textarea matInput formControlName="employeeComments" placeholder="Text Area" [required]="false"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap="2em" fxLayoutAlign="start stretch" [fxShow]="true" *ngIf="page.showHideButton"><button mat-raised-button class="blackButton" *ngIf="page.travelForm.get(&apos;requestDetails&apos;).controls.length === (i + 1)" (click)="addNewRequestForm()" [disabled]="!page.travelForm.valid">
                        <mat-icon>add</mat-icon>Add
                      </button><button mat-raised-button class="redButton" *ngIf="page.travelForm.get(&apos;requestDetails&apos;).controls.length &gt; 1" (click)="removeNewRequestForm(i)">
                        <mat-icon>clear</mat-icon>Remove
                      </button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions></mat-card-actions>
    </mat-card>
    <div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="end end" [fxShow]="true">
      <div fxLayout="row wrap" class="marginBottom1em marinTop1em" fxLayoutGap="2em" fxLayoutAlign="end end" [fxShow]="true"><button mat-raised-button class="redBorderedButton" (click)="resetForm(page.travelForm)">Cancel</button><button mat-button class="redButton" (click)="tdetails(page.travelForm,page.personalDetailsForm)" [disabled]="page.travelForm.status == &apos;INVALID&apos;">Submit</button><button mat-raised-button class="grayButton" (click)="saveAsDraft(page.travelForm)">Save As Draft</button></div>
    </div>
  </div>
</div>