<div fxLayout="column wrap" class="fullWidth" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="marginBottom10 fullWidth" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1 class="marginBottom0pt3em">
        <mat-icon>person</mat-icon>Profile
      </h1>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="profileCloseButton" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon (click)="closeProfile()">close</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="profileDialogBody fullWidth" fxLayoutAlign="center stretch" [fxShow]="true">
    <form [formGroup]="page.profileForm" class="fullWidth">
      <div fxLayout="column wrap" class="marginTop20" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>First Name</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="firstName">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Last Name</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="lastName">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Date of Birth</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="dateOfBirth">

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Gender</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="gender">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Email</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="email">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Designation</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="designation">

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>PAN Number</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="panNumber">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>ID Number</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="idNumber">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Passport Number</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="passportNumber">

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Nationality</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="nationality">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Station</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="station">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Line manager</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="lineManager">

            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="32" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.sm="49" fxFlex.xs="100">
            <div>
              <p>Line Manager Email</p>
            </div>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Input" [required]="false" formControlName="lineManagerEmail">

            </mat-form-field>
          </div><button mat-button (click)="submitForm(page.profileForm.value)">Button</button>
        </div>
      </div>
    </form>
  </div>
</div>