<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
    <div fxLayout="row wrap" class="headerContainer" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
          <mat-icon>chevron_left</mat-icon><label>
            Travel Requests</label>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><button mat-raised-button class="whiteColor purpleBackground" (click)="goTo()">+ New Request</button></div>
    </div>
    <div fxLayout="row wrap" class="mainContent" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>