/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

$mainBackgroundColor:#F8F8F8;
$white: #FFF;
$yellow: #F1CB14;
$lightYellow: #FF9F431F;
$green: #28C76F;
$lightGreen: #28C76F1F;
$lightRed: #EA54551F;
$red:#ec1c24;
$gray : #CCCCCC;
$black: rgb(0, 0, 0);
$blue: #248eb1;
$orange: rgb(255, 153, 0);



body {
    background-color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
}
p,
button,
table,
.mat-card-title,
.mat-list-item-content,
input,
textarea,
.mat-form-field,
.mat-card,
.mat-content,
.mat-expansion-panel-body,
.mat-expansion-panel-content,
.mat-form-field-label,
.mat-radio-label-content,
.mat-tab-label-content,
.mat-select-value-text,
.mat-horizontal-stepper-content,
.mat-tab-group,
.mat-checkbox-label,
.mat-simple-snackbar,
.mat-option-text,
.mat-input-element,
 .mat-form-field-label, 
 .mat-option-text,
 .mat-simple-snackbar, 
 mat-radio-group, 
 mat-select  {
    font-family: 'Poppins', sans-serif !important;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0%;
}
.fullWidth,
bh-view_travel_requests {
    width: 100%;
}
.mainRightContainer {
    width: calc(100% - 200px);
}
.whiteColor {
    color: $white;
}
.whiteBackground {
    background: $white;
}
.redBg {
    background: $red;
}
.yellowBg {
    background: $yellow;
}
.greenBg {
    background: $green;
}
.blueBg {
    background: $blue;
}
.orangeBg {
    background: $orange;
}
.redBackground {
    background: $red;
}
.redBorderedButton {
    border: $red solid 1px !important;
    color:$red;
}
.redButton {
    border: $red solid 1px !important;
    background-color: $red;
    color:$white;
}
.grayBorder{
    border-top: 1px solid lightgray;
    margin-bottom: 2em !important;
}
.grayBorderBottom{
    border-bottom: 1px solid lightgray;
    margin-bottom: 1.5em !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:$red;
    border-width: 10px;
    
}
.height79px{
        height: 79px;
}
.mat-raised-button.mat-primary.mat-raised-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
    color: $white;
    background: #ec1c2491;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled{
     color: $white;
    background: #ec1c2491;
}
  .marginRight10{
      margin-right: 10px;
  }
.fontSize3em{
    font-size:3em;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $red;
}
.padding10px {
    padding: 10px;
}
.marinTop1em{
    margin-top:1em !important;
}
.marginBottom1em {
    margin-bottom: 1em;
}
.marginBottom0pt3em {
    margin-bottom: 0.3em;
}
.blackButton{
    background-color:$black;
    color:$white;
}
.grayButton{
    background-color: $gray;
    color:$white;
}
.marginBottom2em {
    margin-bottom: 2em;
}
.noMargin {
    margin: 0;
}
.roundYellowBadge {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $yellow;
    color: $white;
    text-align: center;
    font-size: 12px;
}
.radius10px {
    border-radius: 10px;
}
.menuItem {
    mat-icon {
        font-size: 20px ;
    }
    font-size: 12px;
    padding: 5px;
}
.toolbarCard {
    padding: 5px !important;
    height: 40px;
    width: 95%;
    mat-card-content {
        margin: 10px 15px 0 0 !important;
    }
}
.marginop1pn9{
    margin-top:1.9em;
}
.mainContainer {
    height: calc(100vh - 70px);
    overflow-y: auto;
}
.profileImage {
    margin: -10px 5px;
}
.headerContainer {
    height: 70px;
}
.mainContent {
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.yellowStatus, .greenStatus, .redStatus {
    padding: 5px 10px;
    border-radius: 10px;
}
.yellowStatus {
    background-color: $lightYellow;
    color: $yellow;
}
.greenStatus {
    background-color: $lightGreen;
    color: $green;
}
.redStatus {
    background-color: $lightRed;
    color: $red;
}
// Input Container
.inputContainer {
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.3em 0 0.8em 0;
    }
}
 .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.3em 0 0.8em 0;
    }
// Grouped input
.groupedInput {
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
// Expansion Panel
.expansionPanel {
    .mat-expansion-panel {
        margin-bottom: 0.5em;
    }
}
.mat-icon {
    height: fit-content !important;
    width: fit-content !important;
}
bh-base, bh-profile_dialog{
    width: 100%;
    height: 100%;
}
.fullWidth{
    width: 100%!important;
}
.mat-form-field {
    width:100%
}
.marginTop20{
    margin-top: 20px;
}
.marginRight20{
    margin-right: 20px;
}
.marginBottom50{
    margin-bottom: 50px;
}
.marginBottom10{
    margin-bottom: 10px;
}
.navBar{
    background-color: #bfbfbf;
    height: 65px;
    width: 94%;
    background: #FFFFFF;
box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
border-radius: 6px;
}
.routerBody{
    height: calc(100vh - 140px);
    width: 90%;
   // margin-top: 30px;
    overflow-y: auto;
}
.routerBody.xs {
    background-color: #bfbfbf;
    height: calc(100vh - 140px);
    width: 90%;
    // margin-top: 30px;
}
.sideNav-md{
    height: 100vh;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 12%);
}

.sideNavButton{
    background-color: $white;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 50px;
}
.sideNavButtonActive{
    background-color: $red;
    margin-bottom: 20px;
    border-radius: 10px;
    color: $white;
    height: 50px;
}
.pointer{
    cursor: pointer;
}
.topNavProfileButton{
    margin-right: 20px;
    margin-left: 20px;
}
.topNavUserNameButton{
    margin-left: 10px;
}
.userInitials{
    border-radius: 50%;
    background: $red;
    color: $white;
    font-weight: 600;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 3;
    text-align: center;
}
.menuButton{
        margin-left: 20px;
        font-size: 40px;
}
.profileCloseButton{
    border: 2px solid$black;
    padding: 3px;
    border-radius: 7px;
}
.profileDialogBody{
    border-top: 2px solid;
}
.scroll{
    overflow-y: auto;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(216, 214, 222, 1);
}
.mat-calendar-body-selected{
    background-color: $red !important;
    color: $white;
}
.mat-input-element {
    caret-color: $red !important;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $black;
}
.mat-datepicker-toggle-active {
    color: $red;
}
.selectedRadioButton{
    border: solid 1px $red;
    color: $red;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 10px;
}

.cardBox{
    border: 1px solid $red;
    border-radius: 11px;
    // width: 222px;
    // padding: 30px;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    .leftPanel{
        background: white;     
        height: 100%;     
        // width: 110px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .rightPanel{    
        height: 100%;     
        // width: 110px;
        color: $white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.dynamicTableContainer {
  overflow-x: auto;
  min-width: 100%;
  margin-bottom: 1em;
  .dynamicTable
   {
    .mat-sort-header-content{
    color: $white !important;
    font-weight: 600 !important;
    }
    tr.mat-header-row {
      height: 50px;
      background-color: $red;
    }
    tr.mat-row {
      height: 55px;
    }
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      text-align: left;
    }
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      font-size: 12px;
      text-align: left;
      padding-left: 24px;
      max-width: 350px;
      white-space: break-spaces;
    }
    .rejectBtn {
      padding-right: 15px;
    }
  }
}