/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

$mainBackgroundColor:#F8F8F8;
$white: #FFF;
$yellow: #F1CB14;
$lightYellow: #FF9F431F;
$green: #28C76F;
$lightGreen: #28C76F1F;
$lightRed: #EA54551F;
$red:red;
$gray : #CCCCCC;

body {
    background-color: #F8F8F8;
    font-family: 'Poppins', sans-serif;
}
.fullWidth,
bh-view_travel_requests {
    width: 100%;
}
.mainRightContainer {
    width: calc(100% - 200px);
}
.whiteColor {
    color: $white;
}
.whiteBackground {
    background: $white;
}
.redColor {
    color: $red;
}
.redBackground {
    background: $red;
}
.redBorderedButton {
    border: $red solid 1px !important;
    color:$red;
}
.redButton {
    border: $red solid 1px !important;
    background-color: $red;
    color:$white;
}
.grayBorder{
    border-top: 1px solid lightgray;
    margin-bottom: 2em !important;
}
.grayBorderBottom{
    border-bottom: 1px solid lightgray;
    margin-bottom: 1.5em !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:$red;
    border-width: 10px;
    
}
.height79px{
        height: 79px;
}
  
.fontSize3em{
    font-size:3em;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $red;
}
.padding10px {
    padding: 10px;
}
.marinTop1em{
    margin-top:1em !important;
}
.marginBottom1em {
    margin-bottom: 1em;
}
.marginBottom0pt3em {
    margin-bottom: 0.3em;
}
.blackButton{
    background-color: black;
    color:$white;
}
.grayButton{
    background-color: $gray;
    color:$white;
}
.marginBottom2em {
    margin-bottom: 2em;
}
.noMargin {
    margin: 0;
}
.roundYellowBadge {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: $yellow;
    color: $white;
    text-align: center;
    font-size: 12px;
}
.radius10px {
    border-radius: 10px;
}
.menuItem {
    mat-icon {
        font-size: 20px ;
    }
    font-size: 12px;
    padding: 5px;
}
.toolbarCard {
    padding: 5px !important;
    height: 40px;
    width: 95%;
    mat-card-content {
        margin: 10px 15px 0 0 !important;
    }
}
.marginop1pn9{
    margin-top:1.9em;
}
.mainContainer {
    height: calc(100vh - 70px);
    overflow-y: auto;
}
.profileImage {
    margin: -10px 5px;
}
.headerContainer {
    height: 70px;
}
.mainContent {
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.yellowStatus, .greenStatus, .redStatus {
    padding: 5px 10px;
    border-radius: 10px;
}
.yellowStatus {
    background-color: $lightYellow;
    color: $yellow;
}
.greenStatus {
    background-color: $lightGreen;
    color: $green;
}
.redStatus {
    background-color: $lightRed;
    color: $red;
}
// Input Container
.inputContainer {
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.3em 0 0.8em 0;
    }
}
// Grouped input
.groupedInput {
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
// Expansion Panel
.expansionPanel {
    .mat-expansion-panel {
        margin-bottom: 0.5em;
    }
}